In [1]:
import pandas as pd
import math
from geopy.geocoders import Nominatim
import numpy as np
import requests
import os
geolocator = Nominatim(user_agent="hello_world")

In [2]:
main_df =pd.read_excel(r".\Admit SLU Rest world.xlsx")

In [3]:
main_df

,Application: Application ID,Applicant First Name,Applicant Last Name,Applicant: Major,Primary Phone Number,Applicant: Date Application Started,Major,MailingStreet,Mailing Street 2,MailingCity,MailingCountry,Applicant: Mailing Zip/Postal Code,Scholarship Value,Applicant: Date Deferred,Admissions Status,Term
0,App ID-4615373,Moukuri,Mohim,MBA - Professional,1883982526,7/14/2022,MBA - Professional,Road-4 House -621 Section -7 Mirpur Dhaka 1216,NaN,Dhaka,Bangladesh,1216,"$7,000",NaN,Admit,Spring 2023
1,App ID-4620926,Md. Hossain,Khan,MBA - Professional,1710844300,2022-04-08 00:00:00,MBA - Professional,"HOUSE-181-1-C, RAB3, BORO MOGHBAZAR,",NaN,DHAKA,Bangladesh,1217,"$4,000",NaN,Admit,Spring 2023
2,App ID-4682918,Naiem,Mahadi,Supply Chain Management - MS,1554454009,8/15/2022,Supply Chain Management - MS,"2nd Floor, Hazi Nijam Uddin Tower, East Boxnogor,","Sarulia, Demra,",Dhaka,Bangladesh,"1361,","$7,000",NaN,Admit,Spring 2023
3,App ID-4695373,Siyamul Huda,Kabyo,Master of Science in Cybersecurity (On-Campus),1890317920,8/25/2022,Master of Science in Cybersecurity (On-Campus),"#63 Matikata, Matikata Bazar",NaN,Dhaka,Bangladesh,1206,"$6,000",NaN,Admit,Spring 2023
4,App ID-4697239,Rakib,Ahmed,Supply Chain Management - MS,1911356577,2022-01-09 00:00:00,Supply Chain Management - MS,12/B SAYED AWLAD HOSSAIN LANE,ISLAMPUR,DHAKA,Bangladesh,1100,"$5,500",NaN,Admit,Spring 2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,App ID-4488642,Akbar,Abdurakhmonov,Supply Chain Management - MS,998351785,2/26/2022,Supply Chain Management - MS,S.Darboza 4b/71,Shayhantohur district,Tashkent,Uzbekistan,100021,"$8,000",NaN,Admit,Spring 2023
142,App ID-4592097,Otabek,Nurmukhamedov,Applied Financial Economics - MS,998044993,5/17/2022,Applied Financial Economics - MS,uzbekistan,NaN,tashkent city,Uzbekistan,100187,"$6,000",NaN,Admit,Spring 2023
143,App ID-4722969,Sardorjon,Hasanov,Supply Chain Management - MS,990540571,9/27/2022,Supply Chain Management - MS,Khujakhurasan 4/1,NaN,Shakhrisabz,Uzbekistan,181300,"$5,000",NaN,Admit,Spring 2023
144,App ID-4492982,Edwin,Muchechetere,Master of Science in Cybersecurity (On-Campus),778820923,3/31/2022,Master of Science in Cybersecurity (On-Campus),House No 53,"Rivermead Road, Iven",Gweru,Zimbabwe,NaN,"$6,000",NaN,Admit,Spring 2023
145,App ID-4687962,Praise,Moyo,Master of Science in Bioinformatics and Comput...,263719220109,8/18/2022,Master of Science in Bioinformatics and Comput...,Stand No. 436,436 Mtausi Park,Gweru,Zimbabwe,263,"$4,500",NaN,Admit,Spring 2023

In [4]:
list_1 = pd.read_excel(r"./List1.xlsx")
list_2 = pd.read_excel(r"./List2.xlsx")
list_3 = pd.read_excel(r"./List3.xlsx")

In [5]:
list_1

,Order Number,Order Date,Registrant Number,Last Name,First Name,Middle Initial,Street Address 1,Street Address 2,Street Address 3,Street Address 4,...,Reason for Taking Test: To attend an undergraduate program,"Reason for Taking Test: To attend a graduate or postgraduate program, other than a business program",Reason for Taking Test: To attend a graduate or postgraduate business program,Reason for Taking Test: To attend an English language school or program,Reason for Taking Test: For licensure or certification,Reason for Taking Test: For employment or a job,Reason for Taking Test: For immigration purposes,Reason for Taking Test: Other,Reason for Taking Test: No Response,Desired Country to Pursue Education (New)
0,21065828,2/15/2022,75052258877,Adupala,Sai Prasad Reddy,NaN,"5-51,Ippakunta","Balmoor,Nagarkurnool",NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Canada~United States
1,21065828,2/15/2022,75052340956,Katta,Murari,NaN,"41-138-1,Gurakaya Palem",NaN,NaN,NaN,...,To Attend An Undergraduate Program,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada~United Kingdom~United States
2,21065828,2/15/2022,75052298008,Maripudi,Sekhar,NaN,Addanki,NaN,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada~United Kingdom~United States
3,21065828,2/15/2022,75052265248,Jonnalagadda,Ankamma Rao,NaN,S/O Peda Govindaaiah; Dhenuvakonda Village;Tel...,NaN,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,United States
4,21065828,2/15/2022,75052289503,Jonnalagadda,Gopikrishna,NaN,"4-14, Dhenuvakonda Village, Addanki Mandal, Pr...",NaN,NaN,NaN,...,No Response,No Response,To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1760,21065828,2/15/2022,75052255581,Edupuganti,Satya Sai Praveen,NaN,"2-78, Kalyana Mandapam, Denduluru Mandal",NaN,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada~United Kingdom~United States
1761,21065828,2/15/2022,75052316071,Tammineedi,Sai Satyanarayana,NaN,"1-141/1, Main Road","M. Nagulapalli, Dwaraka Tirumala Mandal",NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,United States
1762,21065828,2/15/2022,75052252301,Gopala Rao,Sindhura,NaN,95 Lakeview Avenue,NaN,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Canada~United States
1763,21065828,2/15/2022,75052284782,Challapalli,Madhu,Sudhan Reddy,"H.No:1/4-1,Bukkayapalli",Duvvur,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada~United States
1764,21065828,2/15/2022,75052273161,Konduru,Madhuri,NaN,"51/98-9-5,Nehru Nagar, Kothapeta, Raychoti, Ka...",NaN,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,United States

In [6]:
list_2

,Order Number,Order Date,Registrant Number,Last Name,First Name,Middle Initial,Street Address 1,Street Address 2,Street Address 3,Street Address 4,...,Reason for Taking Test: To attend an undergraduate program,"Reason for Taking Test: To attend a graduate or postgraduate program, other than a business program",Reason for Taking Test: To attend a graduate or postgraduate business program,Reason for Taking Test: To attend an English language school or program,Reason for Taking Test: For licensure or certification,Reason for Taking Test: For employment or a job,Reason for Taking Test: For immigration purposes,Reason for Taking Test: Other,Reason for Taking Test: No Response,Desired Country to Pursue Education (New)
0,21191424,3/14/2022,75052333889,Maladi,Sriharsha,NaN,"0-86,",Cheruvukommu Palem,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,United States
1,21191424,3/14/2022,75052357457,Idavalapati,Sathish,NaN,"2-90c,Peraya Palem,Addanki Mandal,Prakasam",NaN,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,United States
2,21191424,3/14/2022,75052383988,Nimmal,Sai Shashank,reddy,"House No 12-129/A, Saraswathi Nagar, Dhobi Col...",NaN,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,United States
3,21191424,3/14/2022,75052377613,Thore,Upamanyu,NaN,"H.No 2-8, Subhash Nagar Colony,","Beside Pragathi Patashala, Ichoda,",NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,Canada~United States
4,21191424,3/14/2022,75052375311,Bhale,Richa Rajeshbhai,NaN,"2035, Kaushik Bhuvan Usmanpura Gam",NaN,NaN,NaN,...,No Response,No Response,To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada~United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,21191424,3/14/2022,75052363413,Pampana,Venkata,Surya teja,"D.No 8-1-117, 5th Cross Street Zicriya Nagar",NaN,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,United States
1237,21191424,3/14/2022,75052380557,Maddikera Keziya,NaN,NaN,Flat.No.202 Kapra 500087 Sai Swarna Palace Apa...,Yapral,NaN,NaN,...,No Response,No Response,To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada
1238,21191424,3/14/2022,75052390073,Atharva,NaN,NaN,House No. 16 In Front Of Udyog Bhavn Near Nice...,NaN,NaN,NaN,...,To Attend An Undergraduate Program,No Response,No Response,No Response,No Response,No Response,No Response,No Response,No Response,Germany
1239,21191424,3/14/2022,75052373045,Kundur,Harshini,REDDY,Hno :1-6-87/1 No .2 Basthi Seetharama Theatre ...,NaN,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,Canada
1240,21191424,3/14/2022,75052349486,Nimmagadda,Sai,krishna,2-1-140/E,Ngo'S Colony,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,Undecided

In [7]:
list_3

,Order Number,Order Date,Registrant Number,Last Name,First Name,Middle Initial,Street Address 1,Street Address 2,Street Address 3,Street Address 4,...,Reason for Taking Test: To attend an undergraduate program,"Reason for Taking Test: To attend a graduate or postgraduate program, other than a business program",Reason for Taking Test: To attend a graduate or postgraduate business program,Reason for Taking Test: To attend an English language school or program,Reason for Taking Test: For licensure or certification,Reason for Taking Test: For employment or a job,Reason for Taking Test: For immigration purposes,Reason for Taking Test: Other,Reason for Taking Test: No Response,Desired Country to Pursue Education (New)
0,20888068,2022-01-14,75052245633,Kumaran,Tarun,karthikeyan,Salam Street,"C-4, 103",NaN,NaN,...,No Response,No Response,To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Germany~United Kingdom~United States
1,20888068,2022-01-14,75052185733,Patil,Suraj,Pandit,"Villa No.132, Al Umar Street, Mohammad Bin Zay...","Zone 2, Abu Dhabi",NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada~United Kingdom~United States
2,20888068,2022-01-14,75052247065,Bardipuram,Uttej,NaN,Unit No - 2104 & 2105-Gl (Suite),"Sky Tower, Reem Island",NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada~New Zealand~United Kingdom~Un...
3,20888068,2022-01-14,75052206743,Adusumalli,Sunil Raja,NaN,"3-112, Thimmayapalem",Thimmayapalem,NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada~Germany~United Kingdom~United...
4,20888068,2022-01-14,75052235487,Kolla,Harshitha,NaN,"3rd Floor, Akshara Enclave, Beside Icici Bank","Ongole Road, Addanki",NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,Canada~United Kingdom~United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2788,20888068,2022-01-14,75052191930,Shinde,Aditya,Vilas,Bajirao Nagar B,Paregaon Road,NaN,NaN,...,No Response,No Response,To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Canada~France~United Kingdom~United States~Sin...
2789,20888068,2022-01-14,75052203840,Grandhe,Veera Venkata Naga Sai Pavan,NaN,"Dr No:2-259,","Sbi Road,",NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,Canada~United Kingdom~United States
2790,20888068,2022-01-14,75052205513,Kalavakuri,Venkata,Narayana,"1-219, Rangasamudram","Porumamilla,",NaN,NaN,...,No Response,"To Attend A Graduate Or Postgraduate Program, ...",No Response,No Response,No Response,No Response,No Response,No Response,No Response,"Australia~Canada~Ireland, Republic of~Netherla..."
2791,20888068,2022-01-14,75052215249,Karne,Anil Kumar,Shyam,"H No 1-50 Gunjoti Vill, Nyalkal Mandal, Sangar...",NaN,NaN,NaN,...,No Response,No Response,To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Canada~United Kingdom~United States
2792,20888068,2022-01-14,75052256890,Sumanth Reddy Arra,NaN,NaN,"Plot No : 60 , Mahindra Colony, Pastapur",NaN,NaN,NaN,...,No Response,No Response,To Attend A Graduate Or Postgraduate Business ...,No Response,No Response,No Response,No Response,No Response,No Response,Australia~Canada~United Kingdom~United States

In [8]:
pd.pandas.set_option('display.max_columns', None)

In [9]:
list_0=list_1.append(list_2)

C:\Users\Dark\AppData\Local\Temp\ipykernel_12896\1548242647.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list_0=list_1.append(list_2)

In [10]:
df=list_0.append(list_3)

C:\Users\Dark\AppData\Local\Temp\ipykernel_12896\1003976712.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=list_0.append(list_3)

In [11]:
df.shape

(5799, 39)

In [12]:
df.describe()

       Order Number  Registrant Number   Postal Code  Telephone Number
count  5.799000e+03       5.799000e+03  5.619000e+03      5.799000e+03
mean   2.100709e+07       7.505145e+10  7.681681e+06      9.520690e+09
std    1.230742e+05       6.127655e+06  7.369362e+07      2.938236e+10
min    2.088807e+07       7.500138e+10  0.000000e+00      0.000000e+00
25%    2.088807e+07       7.505220e+10  4.154660e+05      7.972715e+09
50%    2.106583e+07       7.505225e+10  5.063700e+05      8.919837e+09
75%    2.106583e+07       7.505231e+10  5.300080e+05      9.560411e+09
max    2.119142e+07       7.505240e+10  9.812630e+08      9.198860e+11

In [13]:
df.drop(['Order Number','Order Date','Registrant Number','Last Name','First Name','Middle Initial','Gender','Desired Field of Study (Major)','Email','Current Level of Study (Degree)',
        'Telephone Number','Native Language','Desired Country to Pursue Education','Next Level of Study (Degree)','Intended Date of Enrollment','Time Spent Studying English','Time Spent in Classes Taught in English','Lived in Country Where English is the Main Language','Age Range','Reason for Taking Test: To attend secondary school (high school)','Reason for Taking Test: To attend a 2 year college/community college','Reason for Taking Test: To attend an undergraduate program','Reason for Taking Test: To attend a graduate or postgraduate program, other than a business program','Reason for Taking Test: To attend a graduate or postgraduate business program','Reason for Taking Test: To attend an English language school or program','Reason for Taking Test: For licensure or certification','Reason for Taking Test: For employment or a job','Reason for Taking Test: For immigration purposes','Reason for Taking Test: Other','Reason for Taking Test: No Response','Desired Country to Pursue Education (New)'],axis=1,inplace=True)

In [14]:
df.tail(50)

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
2743,"Anjaneyapuram, Hudco Colony, Cheepurupalli",NaN,NaN,NaN,Vizianagaram,535128.0,India,India
2744,"D.No 4-89, Chinna Veedhi, Dharmavaram",NaN,NaN,NaN,Vizianagaram,535148.0,India,India
2745,"11-135/4, Lakshmi Talkies Road, Vuyyuru, Krish...",NaN,NaN,NaN,Vuyyuru,521165.0,India,India
2746,"7-316, Flora Road, Priyadarshini Nagar, Vuyyuru",NaN,NaN,NaN,Vuyyuru,521165.0,India,India
2747,Jagannathpur,Jagannathpur,NaN,NaN,Warangal,505476.0,India,India
2748,1 7 1005 309 Vmr Krishna Residency,Hunter Road Hanamkonda,NaN,NaN,Warangal,506001.0,India,India
2749,"H.N0-3-14-520,Vinayaka Nagar Lane-1,Kuc Road","Reddy Colony, Hanamkonda.",NaN,NaN,Warangal,506001.0,India,India
2750,"2-6-1415, Bhavani Nagar",Hanamkonda,NaN,NaN,Warangal,506001.0,India,India
2751,2-5-881 Vinayaka Nagar Colony,Road No 3,NaN,NaN,Warangal,506001.0,India,India
2752,"H.No : 2-4-649, Gokul Nagar","Hanamkonda , Warangal Urban",NaN,NaN,Warangal,506001.0,India,India
2753,"5-2-310,Idgah,Bokkalagadda,Hanamkonda",Warangal,NaN,NaN,Warangal,506001.0,India,India
2754,4-6-118/1 Reddy Colony,NaN,NaN,NaN,Warangal,506001.0,India,India
2755,H.No 8-11-27/A Rnt Road Chowrastha Warangal,NaN,NaN,NaN,Warangal,506002.0,India,India
2756,12-6-41 Svn Road,Battla Bazar,NaN,NaN,Warangal,506002.0,India,India
2757,"Subedari, Waddepally",Hanamkonda,NaN,NaN,Warangal,506002.0,India,India
2758,H.No. 11-6-7/1,NaN,NaN,NaN,Warangal,506002.0,India,India
2759,9-6-47/48 Jagadeesh Sanitary Stores,"Mandi Bazar , Warangal , 506002",NaN,NaN,Warangal,506002.0,India,India
2760,"#9-1-51, Markandeya Street, Girmajipet",NaN,NaN,NaN,Warangal,506002.0,India,India
2761,"10-1-329/1, Girmajipet","Warangal, 506002",NaN,NaN,Warangal,506002.0,India,India
2762,"11-14-147/T/402, Laxmi Sai Residency, Flat No ...","O City, Near Kashibugga",NaN,NaN,Warangal,506002.0,India,India
2763,"19-10-234/B, Rudramanagar, Rangashaipet, Warangal",NaN,NaN,NaN,Warangal,506005.0,India,India
2764,"2-12-323, Madhura Nilayam, Road No 12","Vidyaranyapuri, Hanamkonda",NaN,NaN,Warangal,506009.0,India,India
2765,H No 16-8-16 Abbanikunta,NaN,NaN,NaN,Warangal,506013.0,India,India
2766,"H No 16-8-14,Abbanikunta",NaN,NaN,NaN,Warangal,506013.0,India,India
2767,"11-12-571, O City",Road Number 12-B,NaN,NaN,Warangal,506013.0,Iraq,India
2768,4-159l,Kalnayak Thanda,NaN,NaN,Warangal,506332.0,India,India
2769,"1-1-185/A/3, Prashanth Nagar, Waddepally","Hanamkonda, Warangal Urban",NaN,NaN,Warangal,506370.0,India,India
2770,2-7-1254/2 Vijayapal Colony Waddepally Hanamkonda,NaN,NaN,NaN,Warangal,506370.0,India,India
2771,"2-9-838/A, Ngo'S Colony Hanamkonda","Waddepally, 506370",NaN,NaN,Warangal,506370.0,India,India
2772,Dr'S Colony,Sidarthnagar,NaN,NaN,Warangal,5006004.0,India,India
2773,"H No: 17-2-560, Kareemabad",NaN,NaN,NaN,Warangal Urban,506002.0,India,India
2774,"1-109 , Gunturupalli",NaN,NaN,NaN,Wawarangal,506005.0,India,India
2775,"4-45,Indian Bank Street,Kommugudem, Tadepallig...",NaN,NaN,NaN,West Godavari,534101.0,India,India
2776,"3-46/1,Ramalayam Street",Prathipadu,NaN,NaN,West Godavari,534146.0,India,India
2777,"4-103, Behind Suryateja School, Borrampalem X ...",Mahalakshmipuram,NaN,NaN,West Godavari,534451.0,India,India
2778,Deshavaram,NaN,NaN,NaN,West Godavari,534461.0,India,India
2779,2022-06-19 00:00:00,NaN,NaN,NaN,West Godavari,NaN,India,India
2780,295 Turnpike Road,NaN,NaN,NaN,Westborough,1581.0,United States,India
2781,6-12 Epuru,Pedapadu Mandal,NaN,NaN,Westgodavari,534437.0,India,India
2782,Villapark Bloemfontein Kv 3,NaN,NaN,NaN,Willemstad,NaN,Out Of Range,India
2783,202 Old Ridgefield Rd Ste 5,NaN,NaN,NaN,Wilton,68974074.0,United States,India
2784,72 Woodbridge Ter Apt H,NaN,NaN,NaN,Woodbridge,70954237.0,United States,India
2785,Xyz,NaN,NaN,NaN,Xyz,NaN,India,India
2786,1950-03-01 00:00:00,Mallela,NaN,NaN,Y.S.R.Kadapa,516401.0,India,India
2787,"7-6-032, Srinivasa Nilayam",Jail Street,NaN,NaN,Yanam,533464.0,India,India
2788,Bajirao Nagar B,Paregaon Road,NaN,NaN,Yeola,423401.0,India,India
2789,"Dr No:2-259,","Sbi Road,",NaN,NaN,Yerragondapalem,523327.0,India,India
2790,"1-219, Rangasamudram","Porumamilla,",NaN,NaN,Ysr,516193.0,India,India
2791,"H No 1-50 Gunjoti Vill, Nyalkal Mandal, Sangar...",NaN,NaN,NaN,Zaheerabad,502251.0,India,India
2792,"Plot No : 60 , Mahindra Colony, Pastapur",NaN,NaN,NaN,Zaheerabad,502318.0,India,India

In [15]:
df['Country Code'].astype(str)

0       India
1       India
2       India
3       India
4       India
        ...
2788    India
2789    India
2790    India
2791    India
2792    India
Name: Country Code, Length: 5799, dtype: object

In [16]:
df['Country Code'].isnull().sum()

0

In [17]:
us=df[df['Country Code']=="United States"]
us.reset_index(drop=True,inplace=True)

In [18]:
us.head(50)

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
0,907 Scotts Ridge Trail,NaN,NaN,NaN,Apex,27502.0,United States,India
1,307 Dolphin St Apt 4d,NaN,NaN,NaN,Baltimore,212173782.0,United States,India
2,3571 53rd Ave,NaN,NaN,NaN,Bettendorf,52722.0,United States,India
3,3727 194th Pl Se,NaN,NaN,NaN,Bothell,980125291.0,United States,India
4,106 Grant Chamberlain Dr,2a-B,NaN,NaN,Bozeman,59715.0,United States,India
5,20 Rindge Ave Apt 3,NaN,NaN,NaN,Cambridge,21401933.0,United States,India
6,11300 W Parmer Ln Apt 1621,NaN,NaN,NaN,Cedar Park,786134827.0,United States,India
7,310 E Springfield Ave Apt 1704,Unit 1704,NaN,Near Mayfield Garden,Champaign,618204950.0,United States,India
8,1135 Baytowne Dr Apt 13,NaN,NaN,NaN,Champaign,618226918.0,United States,India
9,7900 Waterford Lakes Dr Apt 917,NaN,NaN,NaN,Charlotte,282107445.0,United States,India
10,7900 Harris Hill Ln Apt C,NaN,NaN,NaN,Charlotte,282690808.0,United States,India
11,4680 Roan Run,NaN,NaN,NaN,Cumming,30040.0,United States,India
12,918 E Grand River Ave Apt 531,NaN,NaN,NaN,East Lansing,488234591.0,United States,India
13,3 Primrose Ln Apt 3a,NaN,NaN,NaN,Fords,88631135.0,United States,India
14,1440 Mowry Avenue,Apt No 309,NaN,NaN,Fremont,94538.0,United States,India
15,39939 Stevenson Cmn Apt 2058,Apt 2058,NaN,NaN,Fremont,945384727.0,United States,India
16,11700 Lebanon Rd,NaN,NaN,NaN,Frisco,75035.0,United States,India
17,1260 Brookstone Dr,NaN,NaN,NaN,Garnet Valley,19060.0,United States,India
18,2780 Stantonsburg Road,Apartment 2e,NaN,NaN,Greenville,27834.0,United States,India
19,"2208 Astoria Circle, Apt 208",NaN,NaN,NaN,Herndon,20170.0,United States,India
20,7632 Southside Blvd Apt 224,NaN,NaN,NaN,Jacksonville,32256.0,United States,India
21,"1 Shore Lane, Apt 1509",NaN,NaN,NaN,Jersey City,7310.0,United States,India
22,1141 Pleasant Hill Rd Apt 2206,NaN,NaN,NaN,Leander,78641.0,United States,India
23,1300 Windswept Cmn Unit 1,NaN,NaN,NaN,Livermore,945502557.0,United States,India
24,414 Ashley Ln,NaN,NaN,NaN,Loganville,30052.0,United States,India
25,8814,Pembrooke Street,NaN,NaN,Maineville,45039.0,United States,India
26,20 Church Rd Apt 3p,NaN,NaN,NaN,Maple Shade,80523104.0,United States,India
27,6130 Alma Road,Apt 6409,NaN,NaN,Mckinney,75070.0,United States,India
28,1533 Jupiter Way,NaN,NaN,NaN,Milpitas,95035.0,United States,India
29,650 E Capitol Avenue,NaN,NaN,NaN,Milpitas,95035.0,United States,India
30,"506 Lisa Place,",NaN,NaN,NaN,North Brunswick,8902.0,United States,India
31,790 N Cutler Dr Apt D301,NaN,NaN,NaN,North Salt Lake,840545087.0,United States,India
32,11002 S 172nd Street,NaN,NaN,NaN,Omaha,68136.0,United States,India
33,813 Rowe Ave,NaN,NaN,NaN,Park Ridge,60068.0,United States,India
34,10875 Pacifica Way,NaN,NaN,NaN,Parkland,33076.0,United States,India
35,10325 Key W,NaN,NaN,NaN,Portage,490246698.0,United States,India
36,13660 Hilleary Place Apt 138,NaN,NaN,NaN,Poway,920646529.0,United States,India
37,128 Ilwaco Pl Se,NaN,NaN,NaN,Renton,98059.0,United States,India
38,1420 Oakridge Dr,NaN,NaN,NaN,Rochester Hills,483072944.0,United States,India
39,1569 Mackwood Rd,NaN,NaN,NaN,Rochester Hills,483074315.0,United States,India
40,4101 West Huntington Drive Apt 3301,NaN,NaN,NaN,Rogers,727581703.0,United States,India
41,19314 Salvia Bend,NaN,NaN,NaN,San Antonio,78259.0,United States,India
42,4980 Usaa Blvd Apt 1117,NaN,NaN,NaN,San Antonio,782401324.0,United States,India
43,"Nuevo East Capa Cp 0304-2, 4067 Miramar Street...","4067 Miramar Street #4813, La Jolla, Ca 92037",NaN,NaN,San Diego,92037.0,United States,India
44,5709 Immersion Loop,NaN,NaN,NaN,San Jose,95119.0,United States,India
45,3214 Woody Ln,NaN,NaN,NaN,San Jose,95132.0,United States,India
46,1 Vista Montana Apt 4103,NaN,NaN,NaN,San Jose,95134.0,United States,India
47,135 Rio Robles E Unit 483,NaN,NaN,NaN,San Jose,951341679.0,United States,India
48,810 Woodhams Oaks Place,NaN,NaN,NaN,Santa Clara,95051.0,United States,India
49,700 Agnew Rd Apt 401,NaN,NaN,NaN,Santa Clara,950544229.0,United States,India

In [19]:
india=df[df['Country Code']=="India"]
india.reset_index(drop=True,inplace=True)

In [20]:
india.head(50)

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
0,"5-51,Ippakunta","Balmoor,Nagarkurnool",NaN,NaN,Achampet,509375.0,India,India
1,"41-138-1,Gurakaya Palem",NaN,NaN,NaN,Addanki,523201.0,India,India
2,Addanki,NaN,NaN,NaN,Addanki,523201.0,India,India
3,S/O Peda Govindaaiah; Dhenuvakonda Village;Tel...,NaN,NaN,NaN,Addanki,523263.0,India,India
4,"4-14, Dhenuvakonda Village, Addanki Mandal, Pr...",NaN,NaN,NaN,Addanki,523263.0,India,India
5,"33-53-4,5 Ramnagar",NaN,NaN,NaN,Addanki,NaN,India,India
6,"H.No.:3-177, Kamta Village",Jainath Mandal,NaN,NaN,Adilabad,504309.0,India,India
7,"1-59/A, Kanasanapalli","Agiripalli, Krishna",NaN,NaN,Agiripalli,521212.0,India,India
8,"191, Defence Estate ,Phase-1, Gwalior Road",NaN,NaN,NaN,Agra,282001.0,India,India
9,2 Mini Gulmohar Shaheed Nagar,NaN,NaN,NaN,Agra,282001.0,India,India
10,"16, Maruti Estate, Manu Vihar, Agra",NaN,NaN,NaN,Agra,282010.0,India,India
11,"A-103 Chhapiya Dham, Near Shahjanand School","Bapasitaram Chowk, New Naroda Road, Ahemadabd ...",NaN,NaN,Ahemadabad,382345.0,India,India
12,"19,Mohanbaug,Delhigate, Ahmednagar",NaN,NaN,NaN,Ahmed Nagar,NaN,India,India
13,"B-302, Shree Balaji Residency","Behind Dmart, Motera",NaN,NaN,Ahmedabad,380005.0,India,India
14,"25/B, Maharashtra Society, Navrangpura, Mithak...","Ahmedabad, Gujarat - 380006",NaN,NaN,Ahmedabad,380006.0,India,India
15,"B401 Gardenia Residency, New Sharda Mandir Road","Opposite Nutan Nagrik Bank, Vasantkunj, Paldi",NaN,NaN,Ahmedabad,380007.0,India,India
16,"Satellite Rd, Satellite",F-103 Asavari Tower,NaN,NaN,Ahmedabad,380015.0,India,India
17,"1/Shreeji Appartment,Nilkanth Nagar","Kankaria,Ahmedabad",NaN,NaN,Ahmedabad,380022.0,India,India
18,"D601 Sahajanand Oasis , Ioc Petrol Pump",Memnagar,NaN,NaN,Ahmedabad,380052.0,India,India
19,C-901 Viceroy Villa Opposite Mother Dairy Milk...,"Judges Bunglow Road , Bodakdev",NaN,NaN,Ahmedabad,380054.0,India,India
20,"A/11, Nilkanth Nagar C H Soc. Ltd.,","Nr. Bajrangdas Bapa Ashram, Saijpur, Bogha",NaN,NaN,Ahmedabad,382345.0,India,India
21,"73 Shyampark Soc, Sardar Chowk Krishna Nagar",NaN,NaN,NaN,Ahmedabad,382345.0,India,India
22,A/102 Abhilasha Residency,"New India Colony, Nikol",NaN,NaN,Ahmedabad,382350.0,India,India
23,"A/35, Rushbhadevnagar, Adinathnagar, Odhav , 3...",Near. Vidhyanagar High School,NaN,NaN,Ahmedabad,382415.0,India,India
24,"B-303, Sharan Residency","New C G Road, Chandkheda",NaN,NaN,Ahmedabad,382424.0,India,India
25,"L-505, Sanidhya Flora,Nr Khodiyar Temple","New Ranip, Ahmedabad",NaN,NaN,Ahmedabad,382470.0,India,India
26,"B/14 ,Maruthi Avenue Opp Tirupathi Society G.S.T","Road ,New Ranip ,Ahmedabad",NaN,NaN,Ahmedabad,382480.0,India,India
27,"6-85,Ramalayam Veedi,East Godavari.",NaN,NaN,NaN,Ainavilli Lanka,533211.0,India,India
28,"1-1,E-4, Ashirwad Chs, Sector-15",NaN,NaN,NaN,Airoli Navi Mumbai,400708.0,India,India
29,"M-3 Maya Corner, Ramdaspeth",NaN,NaN,NaN,Akola,444001.0,India,India
30,"Old City, Juni Vasti,",Murtizapur,NaN,NaN,Akola,444107.0,India,India
31,"H:No: 1-8-56,Main Bazar",NaN,NaN,NaN,Allagadda,518543.0,India,India
32,"60/3, Shyama Sadan, Krishnaji Marg, Govindpur","Teliyarganj, Allahabad - 211004",NaN,NaN,Allahabad,211004.0,India,India
33,5-1-12 Ward-5,"Amalapuram,East Godavari",NaN,NaN,Amalapuram,533201.0,India,India
34,Garpathi Street,Near Old Fire Station,NaN,NaN,Amalapuram,533201.0,India,India
35,"1_118 Didugu, Amaravathi,522020",Didugu,NaN,NaN,Amaravathi,522020.0,India,India
36,36 Vashist Nagar Near P Model School,NaN,NaN,NaN,Ambala Cantt,133005.0,India,India
37,102 A3 Swami Dev Prakash Gardens,Sai Section,NaN,NaN,Ambernath,421501.0,India,India
38,"H.No. 70-A, Gokal Nagar Majitha Road",NaN,NaN,NaN,Amritsar,143001.0,India,India
39,Village Miran Kot Kalan,NaN,NaN,NaN,Amritsar,143101.0,India,India
40,"Fairdeal Avenue,",Kale Ghanupur,NaN,NaN,Amritsar,143105.0,India,India
41,Village Neshta Po Attari Teh And Distt Amritsar,NaN,NaN,NaN,Amritsar,143108.0,India,India
42,Vpo Kang,Tarn Taran,NaN,NaN,Amritsar,143401.0,India,India
43,Vill Lodhi Gujjar,NaN,NaN,NaN,Amritsar,NaN,India,India
44,"15a Laksh Township, Jitodiya Road",Opp. Akruti Nagar Society,NaN,NaN,Anand,388001.0,India,India
45,"Bava Gor Manzil, Abu Bakkar Park","B/H Jakat Naka, Bhalej Road",NaN,NaN,Anand,388001.0,India,India
46,6/5/716/1 Srinagar Colony Anantapur 515001,NaN,NaN,NaN,Anantapur,515001.0,India,India
47,6/5/93 Venkata Rao Nagar Near 80ft Road Sbi Bank,Near Hdfc Bank,NaN,NaN,Anantapur,515001.0,India,India
48,"Door No:14/225-19-5-C,Near Pss Office","Backside Judge Quarters,Kadiri",NaN,NaN,Anantapur,515001.0,India,India
49,"D.No: 28/3/280,Sarada Nagar 4th Cross,Jntu Road",NaN,NaN,NaN,Anantapur,515001.0,India,India

In [21]:
us['Postal Code'].astype(int)

0          27502
1      212173782
2          52722
3      980125291
4          59715
         ...
137        30076
138    981262972
139         1581
140     68974074
141     70954237
Name: Postal Code, Length: 142, dtype: int32

In [22]:
us['Postal Code'].isnull().sum() ## there is no need to fill the postal code for the us cities

0

In [23]:
india['Postal Code'].isnull().sum()

164

In [24]:
def getpin(city):
    url="https://api.postalpincode.in/postoffice/"+city
    api_link = requests.get(url)
    api_data = api_link.json()
    try:
        return api_data[0]['PostOffice'][0]['Pincode']
    except:
        return "none"

In [25]:
india_nullpin = india[india['Postal Code'].isnull()]
india_nullpin

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
5,"33-53-4,5 Ramnagar",NaN,NaN,NaN,Addanki,NaN,India,India
12,"19,Mohanbaug,Delhigate, Ahmednagar",NaN,NaN,NaN,Ahmed Nagar,NaN,India,India
43,Vill Lodhi Gujjar,NaN,NaN,NaN,Amritsar,NaN,India,India
137,A-13 D.D. Puram,NaN,NaN,NaN,Bareilly,NaN,India,India
177,"B207, Vasanti Bhavan, Navghar Road",NaN,NaN,NaN,Bhayandar East,NaN,India,India
...,...,...,...,...,...,...,...,...
5395,Ajotha,NaN,NaN,NaN,Veraval,NaN,India,India
5471,"V.Annavaram, Veerullapadu( Mandal), Krishna (...",NaN,NaN,NaN,Vijayawada,NaN,India,India
5473,Vijaywada,NaN,NaN,NaN,Vijaywada,NaN,India,India
5576,2022-06-19 00:00:00,NaN,NaN,NaN,West Godavari,NaN,India,India
5578,Xyz,NaN,NaN,NaN,Xyz,NaN,India,India

In [26]:
india_nullpin['Postal Code']=india_nullpin.loc[:,'City'].apply(lambda x: getpin(x))

C:\Users\Dark\AppData\Local\Temp\ipykernel_12896\1665886989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  india_nullpin['Postal Code']=india_nullpin.loc[:,'City'].apply(lambda x: getpin(x))

In [27]:
india_nullpin

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
5,"33-53-4,5 Ramnagar",NaN,NaN,NaN,Addanki,523201,India,India
12,"19,Mohanbaug,Delhigate, Ahmednagar",NaN,NaN,NaN,Ahmed Nagar,414607,India,India
43,Vill Lodhi Gujjar,NaN,NaN,NaN,Amritsar,143001,India,India
137,A-13 D.D. Puram,NaN,NaN,NaN,Bareilly,243002,India,India
177,"B207, Vasanti Bhavan, Navghar Road",NaN,NaN,NaN,Bhayandar East,none,India,India
...,...,...,...,...,...,...,...,...
5395,Ajotha,NaN,NaN,NaN,Veraval,362265,India,India
5471,"V.Annavaram, Veerullapadu( Mandal), Krishna (...",NaN,NaN,NaN,Vijayawada,520003,India,India
5473,Vijaywada,NaN,NaN,NaN,Vijaywada,none,India,India
5576,2022-06-19 00:00:00,NaN,NaN,NaN,West Godavari,534126,India,India
5578,Xyz,NaN,NaN,NaN,Xyz,none,India,India

In [28]:
india_nullpin.tail()

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
5395,Ajotha,NaN,NaN,NaN,Veraval,362265,India,India
5471,"V.Annavaram, Veerullapadu( Mandal), Krishna (...",NaN,NaN,NaN,Vijayawada,520003,India,India
5473,Vijaywada,NaN,NaN,NaN,Vijaywada,none,India,India
5576,2022-06-19 00:00:00,NaN,NaN,NaN,West Godavari,534126,India,India
5578,Xyz,NaN,NaN,NaN,Xyz,none,India,India

In [29]:
india.dropna(subset="Postal Code",inplace=True)
india['Postal Code']=india.loc[:,'Postal Code'].apply(lambda x: math.floor(x))
india

C:\Users\Dark\AppData\Local\Temp\ipykernel_12896\188036758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  india.dropna(subset="Postal Code",inplace=True)
C:\Users\Dark\AppData\Local\Temp\ipykernel_12896\188036758.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  india['Postal Code']=india.loc[:,'Postal Code'].apply(lambda x: math.floor(x))

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
0,"5-51,Ippakunta","Balmoor,Nagarkurnool",NaN,NaN,Achampet,509375,India,India
1,"41-138-1,Gurakaya Palem",NaN,NaN,NaN,Addanki,523201,India,India
2,Addanki,NaN,NaN,NaN,Addanki,523201,India,India
3,S/O Peda Govindaaiah; Dhenuvakonda Village;Tel...,NaN,NaN,NaN,Addanki,523263,India,India
4,"4-14, Dhenuvakonda Village, Addanki Mandal, Pr...",NaN,NaN,NaN,Addanki,523263,India,India
...,...,...,...,...,...,...,...,...
5581,Bajirao Nagar B,Paregaon Road,NaN,NaN,Yeola,423401,India,India
5582,"Dr No:2-259,","Sbi Road,",NaN,NaN,Yerragondapalem,523327,India,India
5583,"1-219, Rangasamudram","Porumamilla,",NaN,NaN,Ysr,516193,India,India
5584,"H No 1-50 Gunjoti Vill, Nyalkal Mandal, Sangar...",NaN,NaN,NaN,Zaheerabad,502251,India,India
5585,"Plot No : 60 , Mahindra Colony, Pastapur",NaN,NaN,NaN,Zaheerabad,502318,India,India

In [30]:
frames = [india,india_nullpin]
india_df = pd.concat(frames)

In [31]:
india_df

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
0,"5-51,Ippakunta","Balmoor,Nagarkurnool",NaN,NaN,Achampet,509375,India,India
1,"41-138-1,Gurakaya Palem",NaN,NaN,NaN,Addanki,523201,India,India
2,Addanki,NaN,NaN,NaN,Addanki,523201,India,India
3,S/O Peda Govindaaiah; Dhenuvakonda Village;Tel...,NaN,NaN,NaN,Addanki,523263,India,India
4,"4-14, Dhenuvakonda Village, Addanki Mandal, Pr...",NaN,NaN,NaN,Addanki,523263,India,India
...,...,...,...,...,...,...,...,...
5395,Ajotha,NaN,NaN,NaN,Veraval,362265,India,India
5471,"V.Annavaram, Veerullapadu( Mandal), Krishna (...",NaN,NaN,NaN,Vijayawada,520003,India,India
5473,Vijaywada,NaN,NaN,NaN,Vijaywada,none,India,India
5576,2022-06-19 00:00:00,NaN,NaN,NaN,West Godavari,534126,India,India
5578,Xyz,NaN,NaN,NaN,Xyz,none,India,India

In [32]:
invalid_india = india_df[india_df['Postal Code'] == "none"]
invalid_india

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
177,"B207, Vasanti Bhavan, Navghar Road",NaN,NaN,NaN,Bhayandar East,none,India,India
196,"8-157, L.B. Nagar, Bhupalpally, Jayashankar, 5...",NaN,NaN,NaN,Bhupalpally,none,India,India
453,"D.No 5-85, Annaparru Village, Pedanandipadu Ma...",NaN,NaN,NaN,Guntur District,none,India,India
1189,"601, Urvashi Chs, Plot No-10, Sector-29c,",Rabale Gothivali,NaN,NaN,Navi Mumbai,none,India,India
1295,"Peda Avutapalle,Andhra Pradesh,India,Krishna D...",Sivalayam Road D.No:1/90,NaN,NaN,Peda Avutapalle,none,India,India
1668,"2-81,Near Gramapanchayat Peddapuram",NaN,NaN,NaN,Warangal Rural,none,India,India
1792,#17 2nd Floor 11th Main Opposite Jp Park,Brindavan Nagar Mathikere,NaN,NaN,Bengaluru,none,India,India
2209,"Mannegudem,H-No. 7-91",NaN,NaN,NaN,Jagital,none,India,India
2742,Chempilipadu,NaN,NaN,NaN,Trivandrum,none,India,India
3185,"B202, Dhanushree Apartment, St Bed Layout,","1st Block, Koramangala, Bengaluru.",NaN,NaN,Bengaluru,none,India,India
3186,"501, Ktr Residency","2nd Cross Rd, Thimappa Reddy Layout, Doddaneku...",NaN,NaN,Bengaluru,none,India,India
3428,B/01 Bhargavi Chhaya Ganesh Nagar,NaN,NaN,NaN,Dombivli,none,India,India
3479,A/47 Gosthatala New Scheme,NaN,NaN,NaN,Garia Kolkata,none,India,India
4755,A7 Alaknanda Chs,"Sector 14, Vashi",NaN,NaN,Navi Mumbai,none,India,India
5473,Vijaywada,NaN,NaN,NaN,Vijaywada,none,India,India
5578,Xyz,NaN,NaN,NaN,Xyz,none,India,India

In [43]:
inv_india = india_df[india_df['Postal Code'] == "none"].index
india_df.drop(inv_india,inplace=True)
india_df.reset_index(drop=True,inplace=True)

In [44]:
india_df

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
0,"5-51,Ippakunta","Balmoor,Nagarkurnool",NaN,NaN,Achampet,509375,India,India
1,"41-138-1,Gurakaya Palem",NaN,NaN,NaN,Addanki,523201,India,India
2,Addanki,NaN,NaN,NaN,Addanki,523201,India,India
3,S/O Peda Govindaaiah; Dhenuvakonda Village;Tel...,NaN,NaN,NaN,Addanki,523263,India,India
4,"4-14, Dhenuvakonda Village, Addanki Mandal, Pr...",NaN,NaN,NaN,Addanki,523263,India,India
...,...,...,...,...,...,...,...,...
5565,"1-73/7-1, Sankar Naidu Colony",Yogimallavaram,NaN,NaN,Tirupati,517501,India,India
5566,"No.137.B,Bangalamedu",Odugathur Via Anaicut Thalukka Melarasampattu,NaN,NaN,Vellore,632055,India,India
5567,Ajotha,NaN,NaN,NaN,Veraval,362265,India,India
5568,"V.Annavaram, Veerullapadu( Mandal), Krishna (...",NaN,NaN,NaN,Vijayawada,520003,India,India
5569,2022-06-19 00:00:00,NaN,NaN,NaN,West Godavari,534126,India,India

In [45]:
india_df['Postal Code'].astype(str)

0       509375
1       523201
2       523201
3       523263
4       523263
         ...
5565    517501
5566    632055
5567    362265
5568    520003
5569    534126
Name: Postal Code, Length: 5570, dtype: object

In [46]:
# def check_pin(pin):
#     url="https://api.postalpincode.in/pincode/"+str(pin)
#     try:
#         api_link = requests.get(url)
#         api_data = api_link.json()
#         return api_data[0]['PostOffice'][0]['Region']
#     except:
#         return "none"

In [47]:
# np.array_split(india_df, 5)

In [48]:
# ap_df_india = pd.concat(india_df[0],india_df[1],india_df[2],india_df[3],india_df[4],ignore_index =True)

In [49]:
# india_df['predicted city']=india_df['Postal Code'].apply(lambda x: check_pin(x))

In [50]:
# india_df.head(50)

In [55]:
def check_pin(x):
    url="https://api.openweathermap.org/geo/1.0/zip?zip="+x+",US&appid=e0bd39d1bcd127c4b83811ddc55c23f2"
    api_link = requests.get(url)
    api_data = api_link.json()
    try:
        return api_data['name']
    except:
        return "none"

In [56]:
# print(check_pin("27502"))

Apex

In [57]:
us['Postal Code']=us.loc[:,'Postal Code'].apply(lambda x: math.floor(x))
us

C:\Users\Dark\AppData\Local\Temp\ipykernel_12896\2353586556.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us['Postal Code']=us.loc[:,'Postal Code'].apply(lambda x: math.floor(x))

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship
0,907 Scotts Ridge Trail,NaN,NaN,NaN,Apex,27502,United States,India
1,307 Dolphin St Apt 4d,NaN,NaN,NaN,Baltimore,212173782,United States,India
2,3571 53rd Ave,NaN,NaN,NaN,Bettendorf,52722,United States,India
3,3727 194th Pl Se,NaN,NaN,NaN,Bothell,980125291,United States,India
4,106 Grant Chamberlain Dr,2a-B,NaN,NaN,Bozeman,59715,United States,India
...,...,...,...,...,...,...,...,...
137,205 Autumn Ridge Trail,NaN,NaN,NaN,Roswell,30076,United States,India
138,4435 35th Ave Sw Unit 414,NaN,NaN,NaN,Seattle,981262972,United States,India
139,295 Turnpike Road,NaN,NaN,NaN,Westborough,1581,United States,India
140,202 Old Ridgefield Rd Ste 5,NaN,NaN,NaN,Wilton,68974074,United States,India
141,72 Woodbridge Ter Apt H,NaN,NaN,NaN,Woodbridge,70954237,United States,India

In [59]:
us['Postal Code'].astype(str)

0          27502
1      212173782
2          52722
3      980125291
4          59715
         ...
137        30076
138    981262972
139         1581
140     68974074
141     70954237
Name: Postal Code, Length: 142, dtype: object

In [63]:
us['predicted_city']=us['Postal Code'].apply(lambda x: check_pin(str(x)))

C:\Users\Dark\AppData\Local\Temp\ipykernel_12896\161650885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us['predicted_city']=us['Postal Code'].apply(lambda x: check_pin(str(x)))

In [65]:
us.head(50)

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship,predicted_city
0,907 Scotts Ridge Trail,NaN,NaN,NaN,Apex,27502,United States,India,Apex
1,307 Dolphin St Apt 4d,NaN,NaN,NaN,Baltimore,212173782,United States,India,none
2,3571 53rd Ave,NaN,NaN,NaN,Bettendorf,52722,United States,India,Bettendorf
3,3727 194th Pl Se,NaN,NaN,NaN,Bothell,980125291,United States,India,none
4,106 Grant Chamberlain Dr,2a-B,NaN,NaN,Bozeman,59715,United States,India,Bozeman
5,20 Rindge Ave Apt 3,NaN,NaN,NaN,Cambridge,21401933,United States,India,none
6,11300 W Parmer Ln Apt 1621,NaN,NaN,NaN,Cedar Park,786134827,United States,India,none
7,310 E Springfield Ave Apt 1704,Unit 1704,NaN,Near Mayfield Garden,Champaign,618204950,United States,India,none
8,1135 Baytowne Dr Apt 13,NaN,NaN,NaN,Champaign,618226918,United States,India,none
9,7900 Waterford Lakes Dr Apt 917,NaN,NaN,NaN,Charlotte,282107445,United States,India,none
10,7900 Harris Hill Ln Apt C,NaN,NaN,NaN,Charlotte,282690808,United States,India,none
11,4680 Roan Run,NaN,NaN,NaN,Cumming,30040,United States,India,Forsyth County
12,918 E Grand River Ave Apt 531,NaN,NaN,NaN,East Lansing,488234591,United States,India,none
13,3 Primrose Ln Apt 3a,NaN,NaN,NaN,Fords,88631135,United States,India,none
14,1440 Mowry Avenue,Apt No 309,NaN,NaN,Fremont,94538,United States,India,Fremont
15,39939 Stevenson Cmn Apt 2058,Apt 2058,NaN,NaN,Fremont,945384727,United States,India,none
16,11700 Lebanon Rd,NaN,NaN,NaN,Frisco,75035,United States,India,Frisco
17,1260 Brookstone Dr,NaN,NaN,NaN,Garnet Valley,19060,United States,India,Bethel Township
18,2780 Stantonsburg Road,Apartment 2e,NaN,NaN,Greenville,27834,United States,India,Pitt County
19,"2208 Astoria Circle, Apt 208",NaN,NaN,NaN,Herndon,20170,United States,India,Fairfax County
20,7632 Southside Blvd Apt 224,NaN,NaN,NaN,Jacksonville,32256,United States,India,Jacksonville
21,"1 Shore Lane, Apt 1509",NaN,NaN,NaN,Jersey City,7310,United States,India,none
22,1141 Pleasant Hill Rd Apt 2206,NaN,NaN,NaN,Leander,78641,United States,India,Leander
23,1300 Windswept Cmn Unit 1,NaN,NaN,NaN,Livermore,945502557,United States,India,none
24,414 Ashley Ln,NaN,NaN,NaN,Loganville,30052,United States,India,Gwinnett County
25,8814,Pembrooke Street,NaN,NaN,Maineville,45039,United States,India,Hamilton Township
26,20 Church Rd Apt 3p,NaN,NaN,NaN,Maple Shade,80523104,United States,India,none
27,6130 Alma Road,Apt 6409,NaN,NaN,Mckinney,75070,United States,India,McKinney
28,1533 Jupiter Way,NaN,NaN,NaN,Milpitas,95035,United States,India,Milpitas
29,650 E Capitol Avenue,NaN,NaN,NaN,Milpitas,95035,United States,India,Milpitas
30,"506 Lisa Place,",NaN,NaN,NaN,North Brunswick,8902,United States,India,none
31,790 N Cutler Dr Apt D301,NaN,NaN,NaN,North Salt Lake,840545087,United States,India,none
32,11002 S 172nd Street,NaN,NaN,NaN,Omaha,68136,United States,India,Sarpy County
33,813 Rowe Ave,NaN,NaN,NaN,Park Ridge,60068,United States,India,Park Ridge
34,10875 Pacifica Way,NaN,NaN,NaN,Parkland,33076,United States,India,Coral Springs
35,10325 Key W,NaN,NaN,NaN,Portage,490246698,United States,India,none
36,13660 Hilleary Place Apt 138,NaN,NaN,NaN,Poway,920646529,United States,India,none
37,128 Ilwaco Pl Se,NaN,NaN,NaN,Renton,98059,United States,India,King County
38,1420 Oakridge Dr,NaN,NaN,NaN,Rochester Hills,483072944,United States,India,none
39,1569 Mackwood Rd,NaN,NaN,NaN,Rochester Hills,483074315,United States,India,none
40,4101 West Huntington Drive Apt 3301,NaN,NaN,NaN,Rogers,727581703,United States,India,none
41,19314 Salvia Bend,NaN,NaN,NaN,San Antonio,78259,United States,India,San Antonio
42,4980 Usaa Blvd Apt 1117,NaN,NaN,NaN,San Antonio,782401324,United States,India,none
43,"Nuevo East Capa Cp 0304-2, 4067 Miramar Street...","4067 Miramar Street #4813, La Jolla, Ca 92037",NaN,NaN,San Diego,92037,United States,India,San Diego
44,5709 Immersion Loop,NaN,NaN,NaN,San Jose,95119,United States,India,San Jose
45,3214 Woody Ln,NaN,NaN,NaN,San Jose,95132,United States,India,San Jose
46,1 Vista Montana Apt 4103,NaN,NaN,NaN,San Jose,95134,United States,India,San Jose
47,135 Rio Robles E Unit 483,NaN,NaN,NaN,San Jose,951341679,United States,India,none
48,810 Woodhams Oaks Place,NaN,NaN,NaN,Santa Clara,95051,United States,India,Santa Clara
49,700 Agnew Rd Apt 401,NaN,NaN,NaN,Santa Clara,950544229,United States,India,none

In [68]:
invalid_us = us[us['predicted_city'] == "none"]

In [69]:
invalid_us

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship,predicted_city
1,307 Dolphin St Apt 4d,NaN,NaN,NaN,Baltimore,212173782,United States,India,none
3,3727 194th Pl Se,NaN,NaN,NaN,Bothell,980125291,United States,India,none
5,20 Rindge Ave Apt 3,NaN,NaN,NaN,Cambridge,21401933,United States,India,none
6,11300 W Parmer Ln Apt 1621,NaN,NaN,NaN,Cedar Park,786134827,United States,India,none
7,310 E Springfield Ave Apt 1704,Unit 1704,NaN,Near Mayfield Garden,Champaign,618204950,United States,India,none
...,...,...,...,...,...,...,...,...,...
136,800 Micro Ct Apt 201,NaN,NaN,NaN,Roseville,956785839,United States,India,none
138,4435 35th Ave Sw Unit 414,NaN,NaN,NaN,Seattle,981262972,United States,India,none
139,295 Turnpike Road,NaN,NaN,NaN,Westborough,1581,United States,India,none
140,202 Old Ridgefield Rd Ste 5,NaN,NaN,NaN,Wilton,68974074,United States,India,none
141,72 Woodbridge Ter Apt H,NaN,NaN,NaN,Woodbridge,70954237,United States,India,none

In [70]:
inv_us = us[us['predicted_city'] == "none"].index
us.drop(inv_us,inplace=True)
us.reset_index(drop=True,inplace=True)

C:\Users\Dark\AppData\Local\Temp\ipykernel_12896\2105400136.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us.drop(inv_us,inplace=True)

In [71]:
us

,Street Address 1,Street Address 2,Street Address 3,Street Address 4,City,Postal Code,Country Code,Country of Citizenship,predicted_city
0,907 Scotts Ridge Trail,NaN,NaN,NaN,Apex,27502,United States,India,Apex
1,3571 53rd Ave,NaN,NaN,NaN,Bettendorf,52722,United States,India,Bettendorf
2,106 Grant Chamberlain Dr,2a-B,NaN,NaN,Bozeman,59715,United States,India,Bozeman
3,4680 Roan Run,NaN,NaN,NaN,Cumming,30040,United States,India,Forsyth County
4,1440 Mowry Avenue,Apt No 309,NaN,NaN,Fremont,94538,United States,India,Fremont
...,...,...,...,...,...,...,...,...,...
64,"1902, S Rouse Street",NaN,NaN,NaN,Pittsburg City,66762,United States,India,Pittsburg
65,410 N Craig Street,NaN,NaN,NaN,Pittsburgh,15213,United States,India,Pittsburgh
66,16075 Ne 85th St,Apt 301,NaN,NaN,Redmond,98052,United States,India,Redmond
67,4850 156th Ave Ne,NaN,NaN,NaN,Redmond,98052,United States,India,Redmond
68,205 Autumn Ridge Trail,NaN,NaN,NaN,Roswell,30076,United States,India,Roswell